<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Gelasio|Montserrat:500&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<title>World of Forex</title>
	<link rel = "icon" type = "image/png" href = "/img/bar.png">
</head>
<body>
	<div class="d-flex">
		<p class="starter"><i class="fas fa-chart-line"></i><a class="home" href="/"> Fx World</a></p>

		<div class="d-flex ml-auto mr-5">
			<p class="contact"><i class="fas fa-user"></i><a class="home" href="/about">  About Me</a></p>
		</div>
		
	</div>

	<div class="aboutTop text-center">
		<div class="text-center">
			<img class="aboutImg" src="/img/about.jpg" alt="pic goes here"/>
		</div>

		<h1 class="aboutH mt-4">About me, Mark</h1 c>

		<hr class="hrAbout">

		<div class="width">
			<p class="text-center">
				Hi I am Mark, the founder of 'World of Forex' or known as FxWorld. I have a degree in ECE
				and have worked for several years in the BPO industry. After spending quite a long journey in BPO, I have
				decided to do freelancing in Upwork. And while working as a freelancer I discovered Forex and stocks and
				there where it all started, I became more interested to learn more about how the financial and stock market work.  
				After years of experience, I have come up with an idea of building a group for those who are interested to invest,
				gain knowledge and secure financial stability in the future. Feel free to join my journey in investing, discover possibilities
				and success, be able to leave our usual office desk job and have a more life-balance career.
		</div>
	</div>
		
	

</body>
</html>    