<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Gelasio|Montserrat:500&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<title>World of Forex</title>
	<link rel = "icon" type = "image/png" href = "/img/bar.png">
</head>
<body>
	<div class="d-flex">
		<p class="starter"><i class="fas fa-chart-line"></i><a class="home" href="/"> Fx World</a></p>

		<div class="d-flex ml-auto mr-5">
			<p class="contact"><i class="fas fa-user"></i><a class="home" href="/about">  About Me</a></p>
		</div>
	</div>
	

	<div class="upfront jumbotron jumbotron-fluid mt-4">
  		<div class="container">
    		<h1 class="font-weight-normal text-white display-4">Investing To Grow</h1>
   		 	<p class="lead text-white font-weight-normal">Discover, learn and distinguish profitable market signals.</p>
   		 	<br>
  			<a class="btn btn-secondary border border-dark font-weight-light" href="/inquiry">Send me an E-mail</a>
  		</div>
	</div>

	<div class="text-center">
		<div class="container">
			<h1 class="about display-5 font-weight-normal text-secondary">About The Group</h1>
			<br>
			<p class="define text-center">World of Forex is an open group for everyone who wants to take a leap in the world of investing. We are a community that aims for the best possibilities whenever we trade, playing it smart during the process and planning future strategies accordingly to market's movement. Sharing ideas and mentoring new comers to this field is one of our group's ambition. To win most of the trades, never lose fortune irresponsibly and achieve financial stability.</p>
		</div>
	</div>
	<br>
	<hr>

	<div class="mid container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<p class='sample text-center mb-3 text-secondary'>Learn The Techniques</p>
				<div class="text-center">
					<p class="define">As shown in the sample video, swinging is method being done in the trading platform. The doji candles or the <strong>candlebars</strong> do have behaviours accordingly what's happening in the financial market, and same thing applies for the <strong>pinbar</strong>. How to deal with those as you encounter them when you start your Forex journey. Every investment is a risk but mastering it is definitely worth it.</p>
				</div>
			</div>
			<div class="text-center col-sm-12 col-md-6">
				<video class="ml-5" width="400" controls>
  					<source src="/img/strat.mp4" type="video/mp4">
				</video>
				<p class="mt-2"><em>See more <a href="https://www.youtube.com/watch?v=rp_xqvwmEY8">videos</a> about trading.</em></p>
			</div>
		</div>
	</div>

	<div class="bottomtron container">
    	<div class="row">
    		<div class="col-sm-12 col-md-6">
     			<p class="ml-3">Subscribe or Follow <i class="fas fa-address-book"></i></p>
     			<div class="bottomOne mt-1">
     				<p><a href="https://www.facebook.com/lalutpinlac"><i class="fab fa-facebook"></i> Facebook-FxWorld</a></p>
     				<p><a href="https://www.youtube.com/channel/UCcbHYB_zo-HA2NByY-VQDhw"><i class="fab fa-youtube"></i> Youtube Channel-FxWorld</a></p>
     			</div>
    		</div>
    		<div class="col-sm-12 col-md-6">
      			<p class="ml-3">Helpful Links</p>
				<div class="bottomOne mt-1">
     				<p><a href="https://www.youtube.com/watch?v=NhFlqFVBmxc">How Does Forex Work?</a></p>	
     			</div>  
    		</div>
  		</div>
  	</div>
  		
	

</body>
</html>